[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
channels = "*"
channels-redis = "*"

[dev-packages]
twine = "*"

[requires]
python_version = "3.6"
